<li data-iditem="{{id}}">
  <h3>{{title}}</h3>
  <p>Author: <span>{{author}}</span></p>
  <button type="button" data-action="change">Change</button>
  <button type="button" data-action="delete">Delete</button>
</li>